<div id="traincourse">
  <!-- 选项卡 -->
  <div class="trainCourseTabCard">
    <div class="swiper-pagination5" #pagination5></div>
    <div class="swiper-container" id="swiper-container5">
      <div class="swiper-wrapper">
        <!-- 未报名 -->
        <div class="swiper-slide">
          <div class="train">
            {{notApplyData&&notApplyData.length?'':'暂无消息'}}
            <div *ngFor="let item of notApplyData;let i = index" class="train-item" (click)="routeLink(item,0)">
              <h2>{{item._title}}</h2>
              <p>
                <span><i class="iconfont icon-account"></i>{{item._classteachername}}</span>
                <span><i class="iconfont icon-task-management"></i>{{'报名时间：剩余 '+item._validtime+' 天 | 剩 '+(item._planperson - item._appliednum)+' 名额'}}</span>
            </p>
              <div>
                  <img src="{{item._image}}" onerror="this.src='../../../assets/images/train_default.png'" alt="默认图片"/>
                  <span>即将开班</span>
              </div>
              <p><i class="iconfont icon-map"></i>{{'位置：'+item._address}}</p>
            </div>
          </div>
        </div>
        <!-- 已开班 -->
        <div class="swiper-slide">
          <div class="train">
              {{classRunning&&classRunning.length?'':'暂无消息'}}
              <div *ngFor="let item of classRunning;let i = index" class="train-item" (click)="routeLink(item,1)">
                <h2>{{item._title}}</h2>
                <p>
                  <span><i class="iconfont icon-account"></i>{{item._classteachername}}</span>
                  <!-- <span *ngSwitchCase="'0'"><i class="iconfont icon-task-management"></i>{{item._traintime}}</span> -->
                  <span><i class="iconfont icon-task-management"></i>{{item._traintime}}</span>
                  <!-- <span *ngSwitchCase="'1'"><i class="iconfont icon-task-management"></i>{{'报名时间：剩余 '+item._validtime+' 天 | 剩 '+(item._planperson - item._appliednum)+' 名额'}}</span> -->
                </p>
                <div>
                    <img src="{{item._icon}}" onerror="this.src='../../../assets/images/train_default.png'" alt="默认图片"/>
                    <span *ngIf="item._state">{{item._state == '1'?'即将开班':(item._state == '0'?'正在进行':'已结束')}}</span>
                </div>
                <p><i class="iconfont icon-map"></i>{{'位置：'+item._address}}</p>
              </div>
            </div>
        </div>
        <!-- 已结束 -->
        <div class="swiper-slide">
          <div class="train">
              {{classOver&&classOver.length?'':'暂无消息'}}
              <div *ngFor="let item of classOver;let i = index" class="train-item" (click)="routeLink(item,2)">
                <h2>{{item._title}}</h2>
                <p>
                  <span><i class="iconfont icon-account"></i>{{item._classteachername}}</span>
                  <span><i class="iconfont icon-task-management"></i>{{item._traintime}}</span>
                </p>
                <div>
                  <img src="{{item._icon}}" onerror="this.src='../../../assets/images/train_default.png'" alt="默认图片"/>
                  <span *ngIf="item._state">{{item._state == '1'?'即将开班':(item._state == '0'?'正在进行':'已结束')}}</span>
                </div>
                <p><i class="iconfont icon-map"></i>{{'位置：'+item._address}}</p>
                <div class="completed" *ngIf="item['_completed'] == '1'"><img src="{{completeImg}}" alt=""></div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<spinner *ngIf="showSpinner"></spinner>