@import '../../../assets/css/swiper-4.1.0.min.css';
#traincourse{
    height:100%;
    display:flex;
    flex-direction:column;
    background-color:rgba(245, 245, 245,1);
    // 选项卡
    .trainCourseTabCard{
        .swiper-pagination5{
            // border:1px solid #ccc;
            position: relative;
        }
        // .swiper-pagination5::before{
        //     content:'';
        //     display: block;
        //     width:100%;
        //     border-bottom:1px solid #ccc;
        //     position: absolute;
        //     bottom:0;
        //     // z-index: -1;
        // }
        .swiper-container{
            margin-top:1px;
            .swiper-wrapper{
                .swiper-slide{
                    padding: 0rem 2% 0.2rem 2%;
                    padding-bottom: 0;
                    font-size:0.9rem;
                    overflow-y:auto;
                    background:#fff;
                    // 未报名
                    .train{
                        text-align: center;
                        padding-bottom:.1rem;
                        background-color:#fff;
                        padding:0 .8rem;
                        padding-bottom:0.1rem;
                        margin-top:1px;
                        .train-item{
                            padding-top:0.625rem;
                            width:100%;
                            // padding-bottom: 0.625rem;
                            border-bottom:0.2rem dashed rgba(245, 245, 245,1);;
                            position: relative;
                            h2{
                                height:1.4rem;
                                line-height:1.4rem;
                                font-size:1rem;
                                text-align: left;
                            }
                            p{
                                text-align: left;
                                height:1.5rem;
                                line-height:1.5rem;
                                font-size:0.8rem;
                                color:#aaa;
                                overflow: hidden;/*内容超出后隐藏*/
                                text-overflow: ellipsis;/* 超出内容显示为省略号*/
                                white-space: nowrap;/*文本不进行换行*/
                                span{i{font-size:0.8rem;margin-right:4px;}}
                                span:nth-child(1){float:left;}
                                span:nth-child(2){float:right;}
                            }
                            div{
                                width:100%;
                                max-height:8.75rem;
                                min-height:6.5625rem;
                                overflow:hidden;
                                position:relative;
                                img{
                                    width:100%;
                                }
                                span{
                                    display: block;
                                    height:1.875rem;
                                    line-height:1.875rem;
                                    position:absolute;
                                    bottom:5%;
                                    right:3%;
                                    border-radius:8px;
                                    background-color:rgba(92, 87, 87, 0.5);
                                    padding:0 3%;
                                    color:#fff;
                                    font-size:0.8rem;
                                }
                            }
                            div.completed{
                                position: absolute;
                                top:0.625rem;
                                right:0;
                                width:22%;
                                z-index:1;
                                img{
                                    width:100%;
                                }
                            }
                        }
                        .train-item:first-child{
                            div.completed{top:0;}
                        }
                    }
                    
                }
            }
        }
    }
}