#cart{
    height:100%;
    display:flex;
    flex-direction:column;
    background-color:rgba(245, 245, 245,1);
    .main{
        overflow-y:scroll; 
        // overflow-x:hidden; 
        // word-wrap: break-word;
        height:100%;

    }
    .footer{
        width:100%;
    }
}