<div id="mine">
  <div class="main">
      <div class="userInfo">
            <div class="userPortrait">
                <div>
                    <img src="{{userInfo.portrait?userInfo.portrait : defaultPortrait}}" alt="">
                </div>
                <i class="iconfont icon-gerenzhongxin" (click)="jumpToUserInfo()"></i>
            </div>
            <p>{{userInfo._fullname}}</p>
            <p>{{userInfo._department}}</p>
            <p>{{userInfo._position}}</p>
            <p>{{'头衔：'+userInfo._title}}</p>
            <div class="experience clearfix">
                <p>
                    <span></span>
                    <strong>{{userInfo._integral+'/'+userInfo._nextvalue}}</strong>
                </p>
                <i class="iconfont icon-help" (click)="jumpToRules()"></i>
            </div>
            <!-- <p>{{"打败"+userInfo._winpercent+"的小伙伴"}}</p> -->
            <p>{{defeatPeerText}}</p>
      </div>
      <custom-ul [data]='dataset'></custom-ul>
      <div class="exitCurUser">
          <div (click)="toExitApp()">安全退出</div>
      </div>
  </div>
  <div class="footer">
      <footer></footer>
  </div>
</div>