// #rules{
//     font-size:0.9rem;
//     // scroll-behavior: 0;
//     figcaption{
//         font-weight:bold;
//         padding-left:6px;
//         position: relative;
//         background:#ddd;
//     }
//     figcaption::before{
//         content:"";
//         display: block;
//         width:4px;
//         height:0.9rem;
//         height:100%;
//         background-color:#CC2F2A;
//         vertical-align: middle;
//         zoom: 1;
//         position: absolute;
//         top: 50%;left: 0;
//         transform:translateY(-50%);
//     }
//     article{
//         text-indent: 2em;
//         margin-bottom:0.5rem;
//     }
// }

@import '../../../assets/css/swiper-4.1.0.min.css';
#rules{
    .rulesTabCard{
        // 导航
        .swiper-pagination4{
        }
        // 内容
        #swiper-container4{
            .swiper-wrapper{
                .swiper-slide{
                    // 我的头衔 & 我的积分
                    .myRank,.myIntegral{
                        width:100%;
                        height:100%;
                        iframe{
                            width:100%;
                            height:100%;
                        }
                    }
                }
            }
        }
    }
}