<div id="home">
    <div class="main">
        <carousel></carousel>
        <div class="nav">
            <ul>
                <li *ngFor="let navText of navTexts">
                    <i></i>
                    <p>{{navText}}</p>
                </li>
            </ul>
        </div>
        <!-- <p>home works!</p>
        <button (click)="showJavaArticles()">Java Articles</button>
        <button (click)="showAngularArticles()">Angular Articles</button>
        <button (click)="showFavoriteArticles()">Favorite Articles</button>
        <ul>
            <li *ngFor="let item of homes | async">
                {{item.id}} - {{item.title}} - {{item.category}}
            </li>
        </ul>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>
        <p>home works!</p>   -->
    </div>
    <div class="footer">
        <footer></footer>
    </div>
</div>