#notfound{
    width:100%;
    height:100%;
    background-color: rgb(250,250,250);
    background-image:url(../../../assets/images/404.jpg);
    background-position:80% 25%;
    background-repeat:no-repeat;
    background-size:contain;
    color:rgba(200,200,200,.5);
    input{border:none;}
}
