<main class="retrievePwd" *ngIf="!isRequest">
  <section class="email-box">
    <div>
      <input type="email" placeholder="请输入您之前绑定的邮箱" [(ngModel)]="curEmail"/>
    </div>
    <i class="iconfont icon-close" *ngIf="curEmail" (click)="curEmail = ''"></i>
  </section>
  <section class="button" [class.canSubmit]="curEmail" (click)="onSubmit()">下一步</section>
</main>

<main class="retrievePwd" *ngIf="isRequest">
  <section class="txt">
    <p>重置密码的激活信息已发送到您的邮箱</p>
    <p>(2小时内有效)</p>
  </section>
  <section class="button" [class.canSubmit]="true" (click)="open()">登录邮箱激活</section>
  <p>{{mailUrl}}</p>
</main>

<spinner *ngIf='showSpinner'></spinner>
