@import '../../../../assets/css/swiper-4.1.0.min.css';

.swiper-container{
    width: 100%;
    height:12rem;
    position: relative;
    // border:1px solid rgba(238, 114, 114,.5);
    margin-top:1px;
    .swiper-wrapper{
        height:100%;
        // border:4px solid #ccc;
        .swiper-slide{
            height:100%;
            // background-image:url(../../../../assets/images/home/banner2.jpg);
            background-size:100%;
            >img{height:70%;margin-top:10%;}
            >img:nth-child(1){float:left;}
            >img:nth-child(2){float:right;}
            div.carousel{
                width:100%;
                height:100%;
                position: relative;
                img{
                    width:100%;
                    // height:100%;
                    background-color:#fff;
                }
                p{
                    width:100%;
                    height:1.2rem;
                    line-height:1.2rem;
                    position: absolute;
                    bottom:0;left:0;
                    background-color:rgba(204, 204, 204, 0.5);
                    padding-left:2%;
                    font-size:0.9rem;
                }
            }
        };
        // .swiper-slide:nth-child(1){background-color: rgba(236, 238, 114, 0.5)};
        // .swiper-slide:nth-child(2){background-color: rgba(114, 238, 124, 0.5)};
        // .swiper-slide:nth-child(3){background-color: rgba(114, 178, 238, 0.5)};
        // .swiper-slide:nth-child(3){background-color: rgba(209, 114, 238, 0.5)};
    }
    .swiper-pagination{
        position: absolute;
        right:0;
        bottom:0;
        text-align: right;
        float:right;
        font-size:0.8rem;
        padding-right:2%;
        height:1.2rem;
        line-height:1.2rem;
        color:#ccc;
    }
}

// .swiper-pagination-bullets{
//     height:10px;
//     background-color:rgba(85, 150, 224, 0.5);
//     span,span.swiper-pagination-bullet{
//         display: block !important;
//         width:8px;
//         height:8px;
//         border-radius:4px;
//         background-color:red;
//     }
//     span.swiper-pagination-bullet-active{
//         background-color:skyblue;
//     }
// }


            // div.carousel{
            //     width:100%;
            //     height:100%;
            //     position: relative;
            //     img{
            //         width:100%;
            //         // height:100%;
            //         background-color:#fff;
            //     }
            //     p{
            //         width:100%;
            //         position: absolute;
            //         bottom:0;left:0;
            //         background-color:rgba(204, 204, 204, 0.5);
            //     }
            // }