@import '../../../../assets/css/swiper-4.1.0.min.css';

.swiper-container{
    width: 100%;
    height:12rem;
    // border:1px solid rgba(238, 114, 114,.5);
    .swiper-wrapper{
        height:100%;
        // border:4px solid #ccc;
        .swiper-slide{
            height:100%;
            background-image:url(../../../../assets/images/home/banner2.jpg);
            background-size:100%;
            img{height:100%;}
            img:nth-child(1){float:left;}
            img:nth-child(2){float:right;}
        };
        .swiper-slide:nth-child(1){background-color: rgba(236, 238, 114, 0.5)};
        .swiper-slide:nth-child(2){background-color: rgba(114, 238, 124, 0.5)};
        .swiper-slide:nth-child(3){background-color: rgba(114, 178, 238, 0.5)};
        .swiper-slide:nth-child(3){background-color: rgba(209, 114, 238, 0.5)};
    }
}

// .swiper-pagination-bullets{
//     height:10px;
//     background-color:rgba(85, 150, 224, 0.5);
//     span,span.swiper-pagination-bullet{
//         display: block !important;
//         width:8px;
//         height:8px;
//         border-radius:4px;
//         background-color:red;
//     }
//     span.swiper-pagination-bullet-active{
//         background-color:skyblue;
//     }
// }