<div id="classify">
  <div class="main" (click)="hideShowMore()">
    <!-- 小标签 -->
    <ul class="classesBox clearfix" *ngIf="false">
      <ng-template ngFor let-classItem [ngForOf]='classes' let-idx='index'>
        <li *ngIf="idx < 9">{{classItem+idx}}</li>
      </ng-template>
      <li class="watchMore" (click)="isShowMore=!isShowMore">
        更多分类
        <i [class]="isShowMore?'iconfont icon-less watchMore':'iconfont icon-moreunfold watchMore'"></i>
        <!-- <transition name="fade"> -->
          <ul *ngIf="isShowMore">
              <ng-template ngFor let-classItem [ngForOf]='classes' let-idx='index'>
                <li *ngIf="idx >= 9">{{classItem+idx}}</li>
              </ng-template>
          </ul>
        <!-- </transition> -->
      </li>
    </ul>
    <!-- 选项卡 -->
    <div class="classifytabcard">
      <div class="swiper-pagination2" #pagination2></div>
      <div class="swiper-container" id="swiper-container2">
        <div class="swiper-wrapper">
          <!-- 最新发布 -->
          <div class="swiper-slide">
            <div class="content">
              <ng-template ngFor let-lastistItem [ngForOf]='lastistRelease' let-i="index">
                <div class="lastistRelease clearfix" flag="tabcard1">
                  <div class="itemLeft">
                    <img onerror="this.src='../../../assets/images/home/kvrole_2.png'" src="{{lastistItem._image}}" alt="{{lastistItem._category}}">
                    <span *ngIf="lastistItem._finishnum=='1'">已学</span>
                  </div>
                  <div class="itemRight">
                      <h2>{{lastistItem._title}}</h2>
                      <div *ngIf="lastistItem._markcontent" class="courseFlag">
                          <span *ngFor="let markcontentItem of lastistItem._markcontent.split('|')">{{markcontentItem}}</span>
                      </div>
                      <p>
                          <span><i class="iconfont icon-comments"></i>{{lastistItem._vc? lastistItem._vc : '0'}}</span>
                          <span><i class="iconfont icon-code"></i>{{lastistItem._pc? lastistItem._pc : '0'}}</span>
                      </p>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
          <!-- 最多浏览 -->
          <div class="swiper-slide">
            <div class="content">
              <ng-template ngFor let-browseItem [ngForOf]='mostBrowse' let-i="index">
                <div class="mostBrowse clearfix" flag="tabcard2">
                  <div class="itemLeft">
                    <img onerror="this.src='../../../assets/images/home/kvrole_2.png'" src="{{browseItem._image}}" alt="{{browseItem._category}}">
                    <span *ngIf="browseItem._finishnum=='1'">已学</span>
                  </div>
                  <div class="itemRight">
                      <h2>{{browseItem._title}}</h2>
                      <div *ngIf="browseItem._markcontent" class="courseFlag">
                          <span *ngFor="let markcontentItem of browseItem._markcontent.split('|')">{{markcontentItem}}</span>
                      </div>
                      <p>
                          <span><i class="iconfont icon-comments"></i>{{browseItem._vc? browseItem._vc : '0'}}</span>
                          <span><i class="iconfont icon-code"></i>{{browseItem._pc? browseItem._pc : '0'}}</span>
                      </p>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
          <!-- 最多点赞 -->
          <div class="swiper-slide">
            <div class="content">
              <ng-template ngFor let-likeItem [ngForOf]='mostLike' let-i="index">
                <div class="mostLike clearfix" flag="tabcard3">
                  <div class="itemLeft">
                    <img onerror="this.src='../../../assets/images/home/kvrole_2.png'" src="{{likeItem._image}}" alt="{{likeItem._category}}">
                    <span *ngIf="likeItem._finishnum=='1'">已学</span>
                  </div>
                  <div class="itemRight">
                      <h2>{{likeItem._title}}</h2>
                      <div *ngIf="likeItem._markcontent" class="courseFlag">
                          <span *ngFor="let markcontentItem of likeItem._markcontent.split('|')">{{markcontentItem}}</span>
                      </div>
                      <p>
                          <span><i class="iconfont icon-comments"></i>{{likeItem._vc? likeItem._vc : '0'}}</span>
                          <span><i class="iconfont icon-code"></i>{{likeItem._pc? likeItem._pc : '0'}}</span>
                      </p>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
      <footer></footer>
  </div>
</div>
<spinner *ngIf="showSpinner"></spinner>