@import '../../../assets/css/swiper-4.1.0.min.css';
#classify{
    height:100%;
    display:flex;
    flex-direction:column;
    background-color:rgba(245, 245, 245,1);
    .main{
        overflow-y:scroll; 
        // overflow-x:hidden; 
        // word-wrap: break-word;
        height:100%;
        .classesBox{
            display:none;
            li{
                width:33%;
                height:3rem;
                line-height:3rem;
                text-align: center;
                float:left;
                margin-bottom:0.125rem;
                background-color:#fff;
                font-size:0.9rem;
                // font-weight:bold;
            }
            li:nth-child(3n-1){margin:0 0.5%;}
            li:last-child{
                width:100%;
                color:rgba(82, 80, 80,.5);
                position:relative;
                i{ font-weight:bold; }
                ul{
                    color:#3e3e3e;
                    position:absolute;
                    background:rgba(245, 245, 245,1);
                    left:0;
                    bottom:-12.625rem;
                    z-index:100;
                    li:last-child{
                        width:33%;
                        color:#3e3e3e;
                    }
                }
                /*初始状态*/
                .fade-enter{opacity: 0;}
                /*已经准备就绪*/
                .fade-enter-active{transition: all 3s;}
                /*已经消失*/
                .fade-leave-active{opacity: 0; transition: all 3s;}
            }
        }
        //选项卡
        .classifytabcard{
            // margin: 0 2% 0.5rem 2%;
            font-size:0.9rem;
            .swiper-pagination2{
                // border:1px solid #ccc;
                width:100%;
                // .swiper-pagination-bullet{//样式不起作用?
                //      float:left;
                //      width:50%;
                //      background-color:#fff;
                // }
                // .swiper-pagination-bullet-active{//样式不起作用?
                //     background:red;
                // }
                
            }
            .swiper-container{
                margin-top:1px;
                .swiper-wrapper{
                    .swiper-slide{
                        // width:100%;
                        background-color:#fff;
                        padding:0 .8rem 0 .8rem;
                        padding:0 .8rem 0 .8rem 0 .8rem ;
                        overflow-y:scroll;
                        .content{
                            
                            // overflow:auto;
                            .empty{
                                width:100%;
                                min-height:23.8rem;
                                min-height:17.5rem;
                                position:relative;
                                background-color:rgba(245, 245, 245,1);
                                img{
                                    width:40%;
                                    position:absolute;
                                    top:50%;
                                    left:50%;
                                    transform:translate(-50%,-50%);
                                    background-image:url('../../../assets/images/course_default.png');
                                    background-repeat: no-repeat;
                                    background-size:100%;
                                    background-position:50%;
                                }
                            }
                            // 最新发布,最多浏览，最多点赞
                            .lastistRelease:last-child,.mostBrowse:last-child,.mostLike:last-child{margin-bottom:0.1rem;}
                            .lastistRelease,.mostBrowse,.mostLike{
                                height:7.5rem;
                                border-bottom:0.2rem dashed rgba(245, 245, 245,1);
                                .itemLeft{
                                    float:left;
                                    width:7.5rem;
                                    height:7.5rem;
                                    position:relative;
                                    // background-color:#ccc;
                                    img{
                                        width:6.25rem;
                                        height:6.25rem;
                                        position:absolute;
                                        top:50%;
                                        left: 50%;
                                        transform:translate(-50%,-50%);
                                        background-image:url('../../../assets/images/course_default.png');
                                        background-repeat: no-repeat;
                                        background-size:100%;
                                        background-position:50%;
                                    }
                                    span{
                                        display: block;
                                        padding:2px 5px;
                                        background-color:rgba(255,255,0,.8);
                                        border-radius:50% 0;
                                        position:absolute;
                                        right:0.625rem;
                                        bottom:0.625rem;
                                        color:#3e3e3e;
                                    }
                                }
                                .itemRight{
                                    height:100%;
                                    width:calc(100% - 7.5rem);
                                    padding-top:0.625rem;
                                    float:left;
                                    position:relative;
                                    h2{
                                        font-size:1.0rem;
                                        font-weight: normal;
                                        overflow: hidden;/*内容超出后隐藏*/
                                        text-overflow: ellipsis;/* 超出内容显示为省略号*/
                                        white-space: nowrap;/*文本不进行换行*/
                                    }
                                    .courseFlag{
                                        padding-top:5px;
                                        display: -webkit-box;
                                        overflow: hidden;
                                        -webkit-box-orient: vertical;
                                        -webkit-line-clamp: 2;/*两行溢出自动省略号隐藏*/
                                        span{
                                            display: inline-block;
                                            padding:0 0.625rem;
                                            height:1.5rem;
                                            line-height:1.5rem;
                                            text-align: center;
                                            border:1px solid #ccc;
                                            border-radius:0.9375rem;
                                            margin-right:2px;
                                            font-size:0.9rem;
                                            margin-bottom:2px;
                                        }
                                    }
                                    p{
                                        position:absolute;
                                        bottom:0.3125rem;
                                        span{
                                            font-size:0.9rem;
                                            i{
                                                margin-right:4px;
                                                font-size:1rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .footer{
        width:100%;
    }
}