@import '../../../assets/css/swiper-4.1.0.min.css';
#trainClass{
    //选项卡
    .trainClassTabCard{
        font-size:0.9rem;
        margin: 0 2% 0 2%;
        .swiper-pagination6{
            width:100%;
        }
        .swiper-container{
            // padding-bottom:0.4rem;
            .swiper-wrapper{
                .swiper-slide{
                    // width:100%;
                    padding:0 .8rem;
                    // padding: 0 2% 0 2%;
                    background-color:#fff;
                    overflow-y:auto;
                    .empty{
                        width:100%;
                        min-height:23.8rem;
                        min-height:17.5rem;
                        position:relative;
                        background-color:rgba(245, 245, 245,1);
                        img{
                            width:40%;
                            position:absolute;
                            top:50%;
                            left:50%;
                            transform:translate(-50%,-50%);
                        }
                    }
                    // // 目录
                    // .catalogue{
                    //     border-bottom:1px solid rgba(216, 216, 216, 0.5);
                    //     // border:1px solid rgba(204, 204, 204, 0.5);
                    //     padding:0.3125rem 0;
                    //     position: relative;
                    //     h3{//标题
                    //         font-weight: normal;
                    //         max-width:88%;
                    //         font-size:0.9rem;
                    //         font-weight: normal;
                    //         overflow: hidden;/*内容超出后隐藏*/
                    //         text-overflow: ellipsis;/* 超出内容显示为省略号*/
                    //         white-space: nowrap;/*文本不进行换行*/
                    //         span{
                    //             display: inline-block;
                    //             color:#888;
                    //             width:1.2rem;
                    //             font-size:0.8rem;
                    //         }
                    //     }
                    //     p.remarks{//备注
                    //         padding-left:1.2rem;
                    //         span{
                    //             // border:1px solid rgba(204, 204, 204, 0.5);
                    //             font-size:0.8rem;
                    //             i,em{
                    //                 font-size:0.8rem;
                    //                 font-style:normal;
                    //             }
                    //         }
                    //     }
                    //     div.kind{//种类
                    //         position: absolute;
                    //         right:0;
                    //         top:0.3125rem;
                    //         span{
                    //             display: block;
                    //             border:1px solid rgba(204, 204, 204, 0.5);
                    //             border-radius:0.7rem;
                    //             height:1.4rem;
                    //             line-height:1.3rem;
                    //             padding: 0 0.25rem;
                    //             color:rgba(204, 204, 204, 0.5);
                    //             background-color:#fff;
                    //         }
                    //     }
                    // }
                    // // 简介
                    // .synopsis{
                    //     .tally,.intro{//标签 & 介绍
                    //         padding:0.3125rem 0;
                    //         h3{
                    //             font-size:0.9rem;
                    //             color:#888;
                    //         }
                    //     }
                    //     .tally{//标签
                    //         border-bottom: 1px solid rgba(216, 216, 216, 0.5);
                    //         min-height:3.75rem;
                    //         >p{
                    //             min-height:30px;
                    //             line-height:30px;
                    //         }
                    //     }
                    //     .intro{//介绍
                    //         p{
                    //             font-size:0.9rem;
                    //             text-indent: 2em;
                    //             padding:0.2rem 0;
                    //         }
                    //     }
                    // }
                    // // 评论
                    // .comment{
                    //     // height:calc(100% - 40px);
                    //     height:100%;
                    //     display:flex;
                    //     flex-direction:column;
                    //     .firstFloor{
                    //         border-bottom:1px solid rgba(204, 204, 204, 0.5);
                    //         div{
                    //             float:left;
                    //             width:50%;
                    //             height:2rem;
                    //             line-height:2rem;
                    //             color:#888;
                    //             label{
                    //                 margin-right:0.5rem;
                    //             }
                    //             i{
                    //                 margin-right:0.3rem;
                    //                 font-size:0.8rem;
                    //                 color:rgba(204, 204, 204, 0.5);
                    //             }
                    //         }
                    //         div:first-child{
                    //             i{
                    //                 margin-left:0.5rem;
                    //                 color:rgb(255, 165, 0);
                    //             }
                    //         }
                    //         div:nth-child(3),div:last-child{
                    //             line-height:1.5rem;
                    //         }
                    //         div:last-child{color:rgb(255, 30, 0);}
                    //     }
                    //     .secondFloor{
                    //         flex:1;
                    //         // border-bottom:1px solid rgba(204, 204, 204, 0.5);
                    //         overflow-y:scroll;
                    //         font-size:0.9rem;

                    //         .courseCommentDiv{
                    //             border-bottom:1px solid rgba(204, 204, 204, 0.5);
                    //             min-height:4rem;
                    //             .left{
                    //                 width:20%;
                    //                 float:left;
                    //                 padding:0.5rem 0;
                    //                 img{
                    //                     width:64%;
                    //                     margin-left:18%;
                    //                 }
                    //                 p{
                    //                     text-align: center;
                    //                     font-size:0.9rem;
                    //                     color:#888;
                    //                     padding-top:0.2rem;
                    //                 }
                    //             }
                    //             .right{
                    //                 width:80%;
                    //                 float:right;
                    //                 padding-top:1rem;
                    //                 >div:first-child{
                    //                     span{color:#888;}
                    //                     .likeAndReply{
                    //                         float:right;
                    //                         span{
                    //                             border:1px solid rgba(204, 204, 204, 0.5);
                    //                             display: inline-block;
                    //                             text-align: center;
                    //                             height:1.5rem;
                    //                             line-height:1.5rem;
                    //                             padding:0 0.5rem;
                    //                             border-radius:0.725rem;
                    //                             i{
                    //                                 height:1.5rem;
                    //                                 line-height:1.5rem;
                    //                                 margin-right:0.2rem;
                    //                             }
                    //                         }
                    //                     }
                    //                 }
                    //                 div.courseComment{
                    //                     min-height:1.5rem;
                    //                     line-height:1.5rem;
                    //                     text-indent: 2em;
                    //                     padding-bottom:0.5rem;
                    //                     u{
                    //                         font-size:0.9rem;
                    //                         text-decoration:none;
                    //                         position:relative;
                    //                         i{
                    //                             display: block;
                    //                             width:0;
                    //                             height:0;
                    //                             border-left:.4em solid transparent;
                    //                             border-right:.4em solid transparent;
                    //                             border-bottom:.8rem solid rgba(245, 245, 245,1);
                    //                             // border-bottom:.8rem solid red;
                    //                             position: absolute;
                    //                             bottom:-12px;
                    //                             left:1rem;
                    //                         }
                    //                     }
                    //                     ul{
                    //                         background:rgba(245, 245, 245,1);
                    //                         border-radius:0.5rem;
                    //                         overflow:hidden;
                    //                         margin-left:1.5em;
                    //                         text-indent: 0;
                    //                         margin-top:.3rem;
                    //                         li{
                    //                             padding:0.5rem;
                    //                             padding-top:0;
                    //                             div{
                    //                                 border-bottom:1px solid rgba(204, 204, 204, 0.5);
                    //                                 p{
                    //                                     font-size:0.9rem;
                    //                                     span{
                    //                                         float:right;
                    //                                         font-size:0.8rem;
                    //                                         color:#888;
                    //                                     }
                    //                                 }
                    //                                 p:last-child{text-indent:2em;}
                    //                             }
                    //                         }
                    //                         li:nth-child(1){padding-top:0.5rem;}
                    //                         li:last-child div{
                    //                             border-bottom:0 none;
                    //                         }
                    //                     }
                                        
                    //                 }
                    //             }
                    //         }
                    //         .courseCommentDiv:last-child{border-bottom:0 none;}
                    //     }
                    //     .thirdFloor{
                    //         width:100vw;
                    //         margin-left:-.8rem;
                    //         padding:0.5rem 0.8rem;
                    //         background-color:rgba(245, 245, 245,1);
                    //         div{
                    //             float:left;
                    //             width:78%;
                    //             border:1px solid rgb(200, 200, 200);
                    //             border-radius:8px;
                    //             overflow:hidden;
                    //             height:2rem;
                    //             input{
                    //                 height:100%;
                    //                 line-height: 2rem;
                    //                 width:100%;
                    //                 border:0 none;
                    //                 outline: none;
                    //                 padding:0 .5rem;
                    //                 font-size:0.9rem;
                    //             }
                    //         }
                    //         div.submitComment{
                    //             float:right;
                    //             width:20%;
                    //             height:2rem;
                    //             line-height: 2rem;
                    //             text-align: center;
                    //             background-color:rgb(235, 235, 235);
                    //             border-radius:8px;
                    //             font-size:0.9rem;
                    //             border:0 none;
                    //         }
                    //         .red{
                    //             background-color:#CC2F2A !important;
                    //             color:#fff;
                    //         }
                    //     }
                    // }
                }
            }
        }
    }
}